body {
 background-image: url(../src/components/Images/Cloud.jpg);
 background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

} 

.container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    display: flex;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
  }




.cardflex{

 display: flex;
  height: auto;
 /* flex-wrap: wrap; */
 flex-wrap: nowrap|wrap|wrap-reserve;
}
